* {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block;
}

/************************* STICKY FOOTER  *************************/
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}
/************************* STICKY FOOTER  *************************/

/* Kansasnew SemiBold
		font-family: kansasnew, serif;
		font-weight: 600;
		font-style: normal; */
/* Montserrat Regular
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;*/
/* Montserrat Thin
		font-family: 'Montserrat', sans-serif;
		font-weight: 100;*/
/* Montserrat Light
	font-family: 'Montserrat', sans-serif;
	font-weight: 300; */

/* pink #f6ad9b
cream #fcf1e7
dark gray #292324
red #f04c1f
medium blue #47a3d0 */



body {
  background-color: #fcf1e7;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #292324;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
  background-color: #fcf1e7;
  height: 80px;
  width: 100%;
}

header img {
  width: 80px;
  padding: 10px 0 0 10px;
  max-width: 83px;
}

.desktop-nav {
  display: none;
}

/***************************HAMBURGER MENU STYLES*******************************/
.bg-cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #292324;
  z-index: 0;
  transition: all 350ms ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.reveal {
  opacity: .85;
  display: block;
  pointer-events: auto;
  visibility: visible;
}

.hamburger-shell {
  margin: 0;
  position: fixed;
  overflow: hidden;
  width: 65px;
  height: 75px;
  overflow: auto;
  left: calc(100% - 85px);
  top: 0;
  cursor: pointer;
  padding: 0;
  background: transparent;
  border: none;
}

.top, .middle {
  position: absolute;
  width: 62px;
  height: 10px;
  background-color: #f04c1f;
  opacity: 70%;
  transition: all 350ms ease-in-out;
  top: 20px;
}

.middle {
  top: 40px;
}

#menu {
  position: fixed;
  left: calc(100% - 292px);
  top: 10px;
  color: #292324;
  display: none;
  margin: 120px 5%;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.5rem;
  color: #fcf1e7;
  padding: 24px;
  width: 200px;
  text-align: right;
}
/***************************** NAV UNDERLINE EFFECT *****************************/
.mobile-link {
  list-style-type: none;
  padding-top: 40px;
}

.mobile-link a {
  color: #fcf1e7;
  font-weight: 400;
}

.mobile-link>a {
  position: relative;
  text-decoration: none;
}

.mobile-link>a:hover {
  transition: all 0.3s ease-in-out 0s;
}

.mobile-link>a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: -13px;
  left: 0;
  background-color: #f6ad9b;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.mobile-link>a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
/***************************** NAV UNDERLINE EFFECT *****************************/

.menu-open .top {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  top: 30px;
  background-color: #f6a894;
  height: 10px;
  opacity: 100%;
}

.menu-open .middle {
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  top: 30px;
  background-color: #f6a894;
  height: 10px;
  opacity: 100%;
}

/*************************** HAMBURGER MENU STYLES *******************************/

/**** HOME SECTION ****/
#home {
  height: 650px;
}

.home-image-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home h1 {
  padding-top: 230px;
}

#home h1, #home h2 {
  font-family: kansasnew, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.8rem;
  text-align: center;
  z-index: 75;
}

.home-shapes-mobile {
  width: 100%;
  max-width: 757px;
  position: absolute;
  z-index: -10;
}

.home-shapes {
  display: none;
}

/**** ABOUT SECTION ****/
#about {
	padding: 100px 5% 50px;
  max-width: 550px;
  margin: 0 auto;
}

h4 {
  font-family: kansasnew, serif;
  font-weight: 600;
  font-style: normal;
  padding: 10px 0;
  margin-bottom: 40px;
  font-size: 1.8rem;
  display: inline-block;
  border-bottom: 10px solid rgba(240, 179, 42, .7);
}

.about-pic {
  width: 100%;
  max-width: 430px;
}

figure {
  text-align: center;
}

figcaption {
  padding-top: 10px;
  font-size: .9rem;
}

#about h3 {
  font-family: kansasnew, serif;
  font-weight: 600;
  font-style: normal;
  padding-top: 45px;
  font-size: 1.8rem;
}

.pink-lines {
  padding: 20px 0;
}

#about p {
  padding-bottom: 12px;
}

/**** WORK SECTION ****/
#work {
  padding: 100px 5% 200px;
}

.work-container {
  padding: 20px 20px 60px;
  background-color: #292324;
  border-radius: 15px;
}

.carousel-cell span {
  font-style: italic;
}

/**** FOOTER ****/
footer {
  text-align: center;
  color: #fcf1e7;
  background-color: #292324;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  padding: 10px 0;
}

/************************************* START 380PX MEDIA QUERY *************************************/
@media (min-width: 380px) {

  /**** HOME SECTION ****/
  .home-shapes-mobile {
    display: none;
  }

  .home-shapes {
    display: block;
    position: absolute;
    z-index: -10;
    padding-bottom: 140px;
    width: 57%;
    min-width: 400px;
    max-width: 635px;
  }

  /**** ABOUT SECTION ****/
  #about h3, h4 {
    font-size: 2.2rem;
  }

  #about p {
    line-height: 1.3rem;
    font-size: 1rem;
  }
}
  /************************************* END 380PX MEDIA QUERY *************************************/

  /************************************* START 720PX MEDIA QUERY *************************************/
@media (min-width: 720px) {


  /**** HOME SECTION ****/
  #home h1, #home h2 {
    font-size: 3.2rem;
  }
}

    /************************************* END 720PX MEDIA QUERY *************************************/
    /************************************* START 850PX MEDIA QUERY *************************************/
@media (min-width: 850px) {

  .container {
    max-width: 1000px;
    margin: 0 auto;
    }


  /* DESKTOP-NAV STYLES START*/
  .hamburger-shell {
    display: none;
  }

  .desktop-nav {
    display: block;
    text-align: right;
    padding-top: 23px;
    font-size: 1.3rem;
  }

  .desktop-nav ul li {
    display: inline-block;
    margin-right: 45px;
  }

  .desktop-nav ul li a {
    color: #292324;
    text-decoration: none;
    font-weight: 400;
    }
/***************************** NAV UNDERLINE EFFECT *****************************/
  .link>a {
    position: relative;
    color: #292324;
    text-decoration: none;
  }

  .link>a:hover {
    color: #292324;
    transition: all 0.3s ease-in-out 0s;
  }

  .link>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: -13px;
    left: 0;
    background-color: #f6ad9b;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  .link>a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
/***************************** NAV UNDERLINE EFFECT *****************************/
  /* DESKTOP-NAV STYLES END*/

  .hamburger-shell {
    display: none;
  }

  #home {
      padding-top: 77px;
      }

    /**** ABOUT SECTION ****/
  #about {
    max-width: none;
  }

  .about-flex {
    display: flex;
  }

  .about-flex-image {
    flex: 2;
  }

  .about-flex-text {
    padding-left: 5%;
    flex: 3;
  }

  .about-pic {
    min-width: 315px; */
  }
  #about h3 {
    padding: 0;
  }

  .pink-lines {
		padding: 20px 0;
		width: 38%;
  }
}
    /************************************* END 850PX MEDIA QUERY *************************************/
